
/*****************/
/*BASE STIJLEN*/
/*****************/

*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
  --background-color: #2941ab;
  --secundair-color: white;
  --accent-color: #1ed760;
  --blackground: black;
  --gray: #7f7f7f;
}

@font-face {
  font-family: "Circular";
  src: url(/assets/Circular/CircularStd-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: "Circular";
  src: url(/assets/Circular/CircularStd-Light.otf);
  font-weight:lighter;
}


body {
  /*fallbackfont is montserrat*/
  font-family: 'Circular', 'Montserrat';
  background-color:var(--blackground);
  font-weight:bold;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  /*hoe breed is de scrollbar*/
  width: 0.3em;
}
 
body::-webkit-scrollbar-track {
  /*Hoe breed is de echte scroll indicator*/
  box-shadow: inset 0 0 6px var(--blackground);
}
 
body::-webkit-scrollbar-thumb {
  /*Hoe ziet de indicator eruit*/
  background-color: var(--accent-color);
  border-radius: 10px;
}


/*****************/
/*HEADER STIJLEN*/
/*****************/

header {

  position: fixed;
  top:0;
  left:0;
  right:0;

   /* Z index om de header boven andere elementen te zetten */
  z-index: 1;

  

  background-color:var(--blackground);


  /* display flex zodat het logo en menu naast elkaar komen */

  display: flex;

  /* space between zodat de uit elkaar staan */

  justify-content: space-between;

  /* verticaal centered */

  align-items: center;



}



header img {

max-height: 150px;

max-width: 200px;

width: 120px;

height: 120px;

padding-left: 1em;



}



header button {

  z-index: 2;

  /* position relative ipv absolute zodat de ::before en ::after werken */

  position:relative;

  /* top:4em;

  right:1em; */

  margin-right: 1em;




  /* de width en height van de drie streepjes samen */

  width: 1.5em;

  height: 1em;

  color: white;


  /* background none zodat de button niet meer zichtbaar is */

  background: none;

}

header img {
  margin-left: 2em;
}

header section {
 display:none;
  position:fixed;
  background-color: black;
  color: white;
}

header ul {
  margin-top:2em;
 }

#menu.toggle  {
  display:block;
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  padding:2em;
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
}

header ul  {

  font-size: 40px;
  font-weight: 700;
}


ul :hover {
  color:var(--accent-color);
}



main > section:nth-of-type(1) {
  margin-top: 8em;
  background-image: url(../images/spotify_background.svg);
  background-color: var(--background-color);
  padding-top: 2em;
  padding-bottom: 5em;
  background-position: 65% 55%;
  background-position-x: 65%;
  background-position-y: 55%;
  background-size: auto 150%;
  background-repeat: no-repeat;
}

header nav {
  display: none;
}

@media (min-width: 1000px) {

  header section {
    display: flex;
    position: static;
    justify-content: flex-end;
  }
  header button {
    display: none;
  }
  header section li {
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    padding: 2em;
    
  }
  section ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
  }

}
main section h1 {
  text-align:center;
  font-weight:700;
  font-size: clamp(1.5em, 10vw, 7em);
  color:var(--accent-color);
  margin-bottom: 0;
  
}
main p {
  
  font-size: clamp(1em, 1.5vw, 3em);
  text-align:center;
  font-weight:500;
  color:var(--accent-color);
  margin-bottom: 5em;
  font-weight:bold;
  
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  margin-bottom: 7em;
  text-decoration: none;
  text-align:center;
  padding: 14px 32px;
  font-weight: 700;
  color:var(--background-color);
  background-color:var(--accent-color);
  border-radius: 3em;
  transition: 0.1s ease;
}

main a:hover {
  transform: scale(1.05);
  background-color: #2de26d;
}

@media (min-width: 680px) {
  main > section:nth-of-type(1) {
    background-image: url(../images/spotify_background_groot.svg);
    background-size: 120%;
    background-position: right 40% center;
    justify-content: center;
    }
}

@media (min-width: 1000px) {
  main > section:nth-of-type(1) {
    background-image: url(../images/spotify_background_groot.svg);
    background-size: 100%;
    background-position: right 40% center;
    justify-content: center;
    }
}





header button span {

  

  width: 1.5em;

  height: 3px;

  background-color: white;



  position: absolute;

  top: 0;

  left: 50%;



  /* trucje om het element centered te krijgen */

  transform: translate(-50%);

}



header button span:nth-of-type(2){

  top: .5em;

}


header button span:nth-of-type(3){

  top: 1em;

}



/* dit zorgt ervoor dat de default styling van de button weg gaat */

header button, input[type="submit"], input[type="reset"] {

  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: var(--secundair-color);
  text-decoration: none;
}



/*****************/
/*AANMELD PAGINA STIJLEN*/
/*****************/

.aanmelden main section {
  all: unset;
}

.aanmelden main p { 
  display: block;
}


.aanmelden {
  background-color:var(--blackground);
    align-items: center;
    text-align: center;
}

.aanmelden main {
  background-color:var(--secundair-color);
}

.aanmelden main h2 {
  padding-top: 10em;
}

.aanmelden main a {
  margin: 1em;
  text-decoration: none;
  text-transform:none;
  padding: 14px 32px;
  font-weight: 700;
  color:var(--secundair-color);
  background-color:#1877f2;
  border-radius: 3em;

}

.aanmelden main a:hover {
  transform: scale(1.05);
  background-color: #3085f3;
  
}
.aanmelden main section:first-of-type(1) p {
  color: var(--gray);
  font-size: 1em;
}

.aanmelden main p {
  color: var(--blackground);
  margin: 0.5em;
  
  
  }

/*****************/
/*FORMULIER STIJLEN*/
/*****************/

form {
  margin-top: 2em;
}


form article:nth-of-type(1) label{
  
 display: block;  
 margin-bottom: 1em;
  
}

form article:nth-of-type(1) input {
  width: 80%;
   padding: 12px 20px;
   border-radius: 5px;
   margin-bottom: 2em;
 }

form article:nth-of-type(2){
  display: flex;
  align-items: center;
  justify-content: center;
  }

  form article:nth-of-type(2) input{
    margin-left: 2em;
    margin-right: 1em; 
  }

  form article:nth-of-type(2) label{
  
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
     
   }

  form article:nth-of-type(3) {
    font-weight:lighter;  
   margin-left: 1em;
   margin-right: 1em;
    }



          
/*****************/
/*FORMULIER STATES*/
/*****************/
form input {
  border: 2px solid var(--gray);
  transition: 0.2s ease;
  outline: none;

}


form input:focus {
  border: 3px solid var(--accent-color);
}

::before {
  border: 2px solid var(--gray);
}

input:focus:invalid {
  border: 2px solid red;
}


input:valid {
  background-color: #1ed75f1c;
  border: 2px solid var(--accent-color);
}





form input[type=submit] {
  margin-top: 2em;
  margin-bottom: 7em;
  text-decoration: none;
  text-transform:none;
  text-align:center;
  padding: 14px 32px;
  font-weight: 700;
  color:var(--secundair-color);
  background-color:var(--accent-color);
  border-radius: 3em;
  transition: 0.1s ease;
}

form input[type=submit]:hover {
  transform: scale(1.05);
  color: var(--blackground);
  background-color: #2de26d;
}

@media (min-width: 800px ) {
  form {
    margin-top: 3em;
   margin-left:10em;
   margin-right:10em;
    
  }
  }
  
  @media (min-width: 1020px ) {
    form {
      margin-top: 3em;
     margin-left:20em;
     margin-right:20em;
      
    }
    
    form article:nth-of-type(1) input {
      width: 60%;
    }
    }
  
    @media (min-width: 1450px ) {
      form {
        margin-top: 3em;
       margin-left:28em;
       margin-right:28em;
        
      }
      }

/*****************/
/*FOOTER STIJLEN*/
/*****************/

footer {

  display: block;
  margin-top: 2em; 
  margin-bottom: 3em;
  padding-top: 1em;
  padding-left: 2em;
  padding-bottom: 2em;
  background-color: black;
  color: white;
}

footer li {
  
  font-weight:lighter;
  margin-top: 1em;
  margin-bottom: 1em; 
}
footer ul {
  padding-left: 0;
}

footer p {
  margin-top: 4em;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 0.8em;
  color: #919496;
}

@media (min-width:1000px){

  footer {
  align-items: center;
    display: flex;
}

footer article{
  margin-left: auto;
  margin-right: auto;
}

}


